@use '../abstracts/variables' as *;

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  &__particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &__particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba($accent, 0.8);
    border-radius: 50%;
    animation: float 8s ease-in-out infinite;
  }
}