.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  
  
  &__particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &__particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba($accent, 0.8);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
    
    &:nth-child(1) {
      top: 10%;
      left: 20%;
      animation-delay: 0s;
      animation-duration: 8s;
    }
    
    &:nth-child(2) {
      top: 20%;
      left: 80%;
      animation-delay: 1s;
      animation-duration: 10s;
    }
    
    &:nth-child(3) {
      top: 40%;
      left: 10%;
      animation-delay: 2s;
      animation-duration: 7s;
    }
    
    &:nth-child(4) {
      top: 60%;
      left: 70%;
      animation-delay: 3s;
      animation-duration: 9s;
    }
    
    &:nth-child(5) {
      top: 80%;
      left: 30%;
      animation-delay: 1.5s;
      animation-duration: 11s;
    }
    
    &:nth-child(6) {
      top: 15%;
      left: 50%;
      animation-delay: 4s;
      animation-duration: 8s;
    }
    
    &:nth-child(7) {
      top: 70%;
      left: 90%;
      animation-delay: 2.5s;
      animation-duration: 10s;
    }
    
    &:nth-child(8) {
      top: 30%;
      left: 40%;
      animation-delay: 5s;
      animation-duration: 9s;
    }
    
    &:nth-child(9) {
      top: 50%;
      left: 60%;
      animation-delay: 3.5s;
      animation-duration: 10s;
    }
    
    &:nth-child(10) {
      top: 25%;
      left: 15%;
      animation-delay: 4.5s;
      animation-duration: 8.5s;
    }
    
    &:nth-child(11) {
      top: 75%;
      left: 55%;
      animation-delay: 1.8s;
      animation-duration: 11s;
    }
    
    &:nth-child(12) {
      top: 45%;
      left: 85%;
      animation-delay: 6s;
      animation-duration: 9.5s;
    }
  }
}