@use '../abstracts/variables' as *;

html {
  scroll-behavior: smooth;
}

body {
  background: $bg;
  min-height: 100vh;
  color: $text;
  position: relative;
}

.section {
  padding: 3rem 1rem;
  scroll-margin-top: 120px; // Offset pour le header sticky
}

#accueil {
  scroll-margin-top: 0; // Pas d'offset pour la section accueil
}
