@use '../abstracts/variables' as *;

html {
  scroll-behavior: smooth;
}

body {
  background: $bg;
  min-height: 100vh;
  color: $text;
  font-family: 'Spectral', serif;
  position: relative;
}

.section {
  padding: 3rem 1rem;
}
