@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Spectral';
  src: url('../fonts/Spectral-Regular.ttf');
}

body {
  font-family: 'Spectral', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header__logo,
a,
button,
.btn {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 800;
}
