@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Spectral';
  src: url('../fonts/Spectral-Regular.ttf');
}

body {
    font-family: 'Spectral', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.en-tete__logo,
.en-tete__navigation a,
button,
.btn {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 800;
}