/* frontend/components/ShootingStarsBackground.css */
.night {
  position: relative;
  transform: rotateZ(45deg);
  background: transparent;
}

.shooting_star {
  position: absolute;
  height: 3px;
  background: linear-gradient(-45deg, rgba(255, 191, 0, 1), rgba(255, 191, 0, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(255, 191, 0, 1));
  animation: tail 5000ms ease-in-out infinite, shooting 5000ms ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1.5px);
  right: 0;
  height: 3px;
  background: linear-gradient(-45deg, rgba(255, 191, 0, 0), rgba(255, 191, 0, 1), rgba(255, 191, 0, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 5000ms ease-in-out infinite;
}

.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

@keyframes tail {
  0% { width: 0; }
  30% { width: 150px; }
  100% { width: 0; }
}

@keyframes shining {
  0% { width: 0; }
  50% { width: 30px; }
  100% { width: 0; }
}

@keyframes shooting {
  0% { transform: translateX(-300px); }
  100% { transform: translateX(calc(100vw + 300px)); }
}

