@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 15.8ch;
    }
}

@keyframes blink-caret {
    from, to {
        border-right-color: transparent;
    }
    50% {
        border-right-color: $accent;
    }
}