@use 'variables' as *;

// Mixin pour les transitions
@mixin transition($properties...) {
  transition: $properties;
}

// Mixin pour les boutons de base
@mixin button-base {
  background: $accent;
  color: $text-dark;
  text-decoration: none;
  border-radius: 0.2rem;
  @include transition(all 0.5s ease);

  &:hover {
    background: $dark-hover;
    color: $accent;
  }

  &:focus {
    outline: 2px solid $accent;
    outline-offset: 2px;
  }
}

