@use 'abstracts/variables' as *;
@use 'abstracts/animations' as *;

@use 'base/reset';
@use 'base/fonts';
@use 'base/base';
@use 'base/responsive';

@use 'components/container';
@use 'components/logo';
@use 'components/navigation';
@use 'components/buttons';

@use 'layout/header';
@use 'layout/hero';
@use 'layout/about';
@use 'layout/skills';
@use 'layout/portfolio';
@use 'layout/contact';
@use 'layout/footer';
