@import 'abstracts/variables';
@import 'abstracts/animations';

@import 'base/reset';
@import 'base/fonts';
@import 'base/base';

@import 'components/buttons';

@import 'layout/container';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/skills';
