// Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';

// Base
@import 'base/reset';
@import 'base/fonts';
@import 'base/base';

// Components
@import 'components/container';
@import 'components/logo';
@import 'components/navigation';
@import 'components/buttons';

// Layout
@import 'layout/header';
@import 'layout/hero';
@import 'layout/about';
@import 'layout/skills';
@import 'layout/portfolio';
@import 'layout/contact';
@import 'layout/footer';
