@use '../abstracts/variables' as *;

.contact__link {
  background: $accent;
  color: $text-dark;
  text-decoration: none;
  border-radius: 0.2rem;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  z-index: 150;

  svg {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background: $dark-hover;
    color: $accent;
  }

  &:focus {
    outline: 2px solid $accent;
    outline-offset: 2px;
  }
}
