.nav a {
    background: $accent;
    color: $text-dark;
    text-decoration: none;
    margin-left: 1rem;
    transition: all 0.5s ease;
    padding: 0.3rem;
    border-radius: 0.2rem;

    &:hover {
        background: $dark-hover;
        color: $accent;
    }
}

.logo {
    background: $accent;
    color: $text-dark;
    padding: 0.6rem 0.6rem 0.6rem calc(0.3rem + 1rem);
    font-weight: bold;
    border-radius: 0.2rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
    
    &:hover {
        transform: translateY(-3px);
        background: $dark-hover;
        color: $accent;
    }
}
