@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Boutons de contact
.contact__lien {
  @include button-base;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;

  svg {
    width: 24px;
    height: 24px;
  }
}
