@use '../abstracts/variables' as *;

.header__logo {
  background: $accent;
  color: $text-dark;
  padding: 0.6rem 0.6rem 0.6rem calc(0.3rem + 1rem);
  font-weight: 300;
  border-radius: 0.2rem;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
  z-index: 150;
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    z-index: 202;
  }
  justify-content: center;
  min-width: 80px;
  min-height: 60px;

  &-text {
    transition: all 0.3s ease;
    display: block;
  }

  &-burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 25px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    pointer-events: none;

    span {
      width: 25px;
      height: 3px;
      background: $text-dark;
      transition: all 0.3s ease;
      border-radius: 2px;
      display: block;
      transform-origin: center center;
    }
  }

  &--active {
    background: $dark-hover;

    .header__logo-burger {
      span {
        background: $accent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
