@use '../abstracts/variables' as *;

.header__navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  &--open {
    right: 0;
  }

  a {
    background: $accent;
    color: $text-dark;
    text-decoration: none;
    border-radius: 0.2rem;
    transition: all 0.5s ease;
    margin-left: 0;
    padding: 0.3rem;
    position: relative;
    z-index: 150;

    &:hover {
      background: $dark-hover;
      color: $accent;
    }

    &:focus {
      outline: 2px solid $accent;
      outline-offset: 2px;
    }
  }
}

