@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header__navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  &--open {
    right: 0;
  }

  a {
    @include button-base;
    margin-left: 0;
    padding: 0.3rem;
    position: relative;
    z-index: 150;
  }
}

