@use '../abstracts/variables' as *;

.contact {
  margin-bottom: 5rem;
  padding: 3rem 1rem;

  h2 {
    text-align: center;
    color: $accent;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  &__info {
    text-align: center;

    > p {
      color: $text;
      font-size: 1.2rem;
      margin-bottom: 2rem;
      line-height: 1.6;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
  }
}
