.hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        text-align: center;
        color: $accent;
        font-size: 5rem;
        text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    }

    p {
        text-align: center;
        font-size: 2rem;
        color: $text;
        text-decoration: underline;
        text-decoration-color: $accent;
        text-decoration-thickness: 3px;
        text-underline-offset: 0.3rem;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        border-right: 3px solid $accent;
        animation: typing 2s steps(15, end) forwards, blink-caret 0.75s step-end infinite;
    }
}



