@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 40rem;
  padding: 3rem 1rem;

  h1 {
    text-align: center;
    color: $accent;
    font-size: 5rem;
  }

  p {
    text-align: center;
    font-size: 2rem;
    color: $text;
    text-decoration: underline;
    text-decoration-color: $accent;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.3rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid $accent;
    animation: typing 2s steps(15, end) forwards, blink-caret 0.75s step-end infinite;
  }

  &__bouton-cta {
    @include button-base;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.btn__hero {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}