@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.competences {
  padding: 3rem 1rem;
  margin-bottom: 40rem;

  &__carte {
    background: $accent;
    border-radius: 1rem;
    padding: 3rem 2rem;

    h2 {
      text-align: center;
      color: $bg;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__carrousel {
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 100%;
      z-index: 2;
      pointer-events: none;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, $accent, transparent);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, $accent, transparent);
    }
  }

  &__piste {
    display: flex;
    gap: 4rem;
    width: fit-content;
    will-change: transform;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 120px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      cursor: pointer;
      pointer-events: auto;
    }

    svg {
      width: 64px;
      height: 64px;
      fill: $bg;
      @include transition(all 0.3s ease);
      cursor: pointer;

      &:hover {
        transform: scale(1.15);
        filter: brightness(1.2);
      }
    }

    span {
      color: $bg;
      font-size: 1rem;
      white-space: nowrap;
    }
  }
}
